body {
	margin-top: 40px;
	margin-left: 200px;
	margin-right: 200px;
}

img {
	width: 22.5%;
	float: left;
	margin: 1.25%
}

p {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}

#p1:hover {
	background-color: #e6e9ed;

}